#Ventas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;
    grid-template-areas: "params params params products products products products products products products products products";
}

