<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/vendidos.css">
    <title>Ventas</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Ventas<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Caja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registrar usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content" id="Vendidos">
        <h1>Productos vendidos</h1>
        <section class="card" id="AllProducts">
            <div class="search">
                <input type="text" id="Product" class="form-control" placeholder="Escribe el producto que deseas buscar">
            </div>
            <div class="all-products">
                <article class="product">
                    <div class="image-container">
                        <img src="https://lh3.googleusercontent.com/bFbUtXL3sEjlxfrWhTaDEN-CuBONeM5x2YpJ2DCQ64rY-vrEOckeW6v7mJ-XLXFLw7wZDV8=s85" alt="Imagen del producto">
                    </div>
                    <div class="contenido">
                        <div class="data">
                            <h4>Nombre del producto</h4>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione doloremque temporibus saepe, harum corrupti sapiente qui quisquam adipisci sint, cumque quos, aliquam cum? Temporibus quia nulla nobis fugiat? Repudiandae, laborum! Lore</p>
                            </div>
                            <div class="payed">
                                <span>Importe pagado: </span>
                                <span class="price">$30.00 USD</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="selled-by">
                                <span>Vendido por:</span><br>
                                <span>Nombre de usuario</span>
                            </div>
                            <div class="quantity">
                                <span>Cantidad:</span><br>
                                <span>5</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="image-container">
                        <img src="https://lh3.googleusercontent.com/bFbUtXL3sEjlxfrWhTaDEN-CuBONeM5x2YpJ2DCQ64rY-vrEOckeW6v7mJ-XLXFLw7wZDV8=s85" alt="Imagen del producto">
                    </div>
                    <div class="contenido">
                        <div class="data">
                            <h4>Nombre del producto</h4>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione doloremque temporibus saepe, harum corrupti sapiente qui quisquam adipisci sint, cumque quos, aliquam cum? Temporibus quia nulla nobis fugiat? Repudiandae, laborum! Lore</p>
                            </div>
                            <div class="payed">
                                <span>Importe pagado: </span>
                                <span class="price">$30.00 USD</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="selled-by">
                                <span>Vendido por:</span><br>
                                <span>Nombre de usuario</span>
                            </div>
                            <div class="quantity">
                                <span>Cantidad:</span><br>
                                <span>5</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <div class="image-container">
                        <img src="https://lh3.googleusercontent.com/bFbUtXL3sEjlxfrWhTaDEN-CuBONeM5x2YpJ2DCQ64rY-vrEOckeW6v7mJ-XLXFLw7wZDV8=s85" alt="Imagen del producto">
                    </div>
                    <div class="contenido">
                        <div class="data">
                            <h4>Nombre del producto</h4>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione doloremque temporibus saepe, harum corrupti sapiente qui quisquam adipisci sint, cumque quos, aliquam cum? Temporibus quia nulla nobis fugiat? Repudiandae, laborum! Lore</p>
                            </div>
                            <div class="payed">
                                <span>Importe pagado: </span>
                                <span class="price">$30.00 USD</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="selled-by">
                                <span>Vendido por:</span><br>
                                <span>Nombre de usuario</span>
                            </div>
                            <div class="quantity">
                                <span>Cantidad:</span><br>
                                <span>5</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <nav>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="js/all.min.js"></script>

</body>
</html>