#Ventas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;
    grid-template-areas: "params params params products products products products products products products products products";
}

#Producto {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 30px 16px;
    grid-template-areas: "img img img des des des des des des des des des"
                         "esp esp esp esp esp esp esp esp esp esp esp esp"
}

#Productos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 20px 16px;
    grid-template-areas: "title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1"
                         "image1 image1 image1 info   info   info   info   info   info   info   info   info  "
                         "desc   desc   desc   desc   desc   desc   desc   desc   desc   desc   desc   desc  "
                         "addpro addpro addpro addpro addpro addpro addcat addcat addcat addcat addcat addcat"
                         "allpro allpro allpro allpro allpro allpro allcat allcat allcat allcat allcat allcat"
                         "title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2"
                         "produc produc produc produc produc produc produc produc produc produc produc produc"
                         

}

#UserForm {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". . . form form form form form form . . ."
}

#Caja {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    grid-template-rows: auto auto;
}

#Vendidos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-rows: auto auto auto;
}

#Sales {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px 40px;
    grid-template-areas: "titl titl titl titl titl titl titl titl titl titl titl titl"
                         "info info info info info info sold sold sold sold sold sold"
                         "new  new  new  new  new  new  new  new  new  new  new  new "
                         "btn  btn  btn  btn  btn  btn  btn  btn  btn  btn  btn  btn ";
}