/* md */
@media (max-width: 991px) {
    #sold-products .product {
        flex-wrap: wrap;
    }

    #sold-products .data {
        width: calc(100% - 100px);
    }

    #sold-products .actions {
        margin-top: 20px;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

/* xs */
@media (max-width: 450px) {
    #sold-products .data,
    #sold-products .product .image-container {
        width: 100%;
    }

    #sold-products .data {
        margin: 15px 0;
    }

    #sold-products .product .image-container img {
        width: auto;
    }

    #AllProducts .sale {
        flex-wrap: wrap;
    }

    #AllProducts .sale .sect {
        width: 100%;
    }
}