h1 {
    font-size: 2.4em;
}

#Vendidos nav {
    display: flex;
    justify-content: center;
}

/* Productos individuales */

#sold-products > article {
    padding: 20px;

}

#sold-products .button-container {
    margin-top: 20px;
}

#sold-products .all-products {
    padding: 0;
    max-height: 500px;
    overflow: auto;
}

#sold-products .product,
#sold-products .product .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sold-products .product {
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#sold-products .product:last-child {
    border-bottom: none;
}

#sold-products .product .image-container {
    width: 100px;
    overflow: hidden;
    max-height: 135px;
}

#sold-products .product .image-container img {
    max-height: 100%;
}

#sold-products .product .description {
    max-height: 60px;
    overflow: hidden;
}

#sold-products .product .payed {
    font-weight: bold;
}

#sold-products .data {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 277px);
}

#sold-products .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 177px;
    color: #636060;
}

#sold-products .actions .selled-by {
    margin-bottom: 10px;
}

/* ->Productos individuales */

#AllProducts>div {
    padding: 20px;
}

#AllProducts .all-products {
    padding: 0;
}

#AllProducts .search {
    border-bottom: 1px solid #ccc;
}

#AllProducts .no-products {
    color: #c1c1c1;
    padding: 20px;
    text-align: center;
}

#AllProducts .sale {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#AllProducts .sale:hover {
    background: #f5f5f5;
}

#AllProducts .sale h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}