/* Asignando espacios en la grid */

#Ventas > div:first-child { grid-area: params }
#Ventas > div:last-child { grid-area: products }


/* ->Asignando espacios en la grid */

.card {
    padding: 20px;
}

#Search, #ShoppingCart {
    margin-bottom: 16px;
}

#Search h2 {
    margin-bottom: 10px;
}

/* Shopping Cart */

#ShoppingCart .total {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#ShoppingCart .resumen .resumen-container .product {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

#ShoppingCart .resumen .resumen-container {
    overflow-y: auto;
    overflow-x: none;
    max-height: 370px;
}

#ShoppingCart .resumen .resumen-container .product {
    cursor: pointer;
}

#ShoppingCart .resumen .resumen-container .no-products {
    margin-top: 10px;
    color: #c1c1c1;
}

#ShoppingCart .resumen .resumen-container .product:last-child {
    border-bottom: none;
}

#ShoppingCart .payment-method {
    margin: 20px 0;
}

#ShoppingCart .payment-method .radio-container {
    margin-top: 8px;
}

#ShoppingCart .vuelto {
    padding: 10px 0;
}

#ShoppingCart textarea {
    min-height: 58px;
}

/* ->Shopping Cart */

/* Todos los productos */

#AllProducts > section {
    padding: 10px 0;
}

#AllProducts .search {
    border-bottom: 1px solid #ccc;
}

#AllProducts .product,
#AllProducts .product .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#AllProducts .product {
    align-items: center;
    padding: 10px 20px;    
}

#AllProducts .product a {
    text-decoration: none;
}

#AllProducts .product .out-of-stock {
    color: #e74c3c;
}

#AllProducts .no-products {
    color: #c1c1c1;
    padding: 20px;
    text-align: center;
}

#AllProducts .product .image-container {
    width: 100px;
    overflow: hidden;
    max-height: 135px;
}

#AllProducts .product .image-container img {
    max-height: 100%;
}

#AllProducts .product .description {
    max-height: 60px;
    overflow: hidden;
}

#AllProducts .data {
    padding: 0 20px;
    width: calc(100% - 300px);
}

#AllProducts .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: #636060;
}

#AllProducts .contenido .actions svg {
    margin: 0 5px;
}

/* ->Todos los productos */